@page "/categories"

<PageTitle>Categories</PageTitle>

@foreach (var category in _categories)
{
    <div>
        @category.Name
    </div>
}

@code {

    [Inject]
    ICategoryService CategoryService { get; set; } = default!;

    IEnumerable<CategoryDto> _categories = [];

    protected override async Task OnInitializedAsync()
    {
        await GetCategoriesAsync();
    }

    private async Task GetCategoriesAsync()
    {
        try
        {
            PagedList<CategoryDto> pagedList = await CategoryService.GetCategoriesAsync();

            _categories = pagedList.Items;
        }
        catch (Exception e)
        {
            Console.WriteLine(e.Message);
        }
    }

}